//Brand colors
$color1: #FFB607;
$color2: #5C4A20;
$color3: #FFFCF5;
$color4: #0643C8;
$color5: #FFFFFF;
$color6: #0E0B0F;
$color7: #EAD8B0;

//Brand fonts
$font1: Inter, sans-serif;
$font2: Labrada, sans-serif;

//Breakpoints
$small: 576px;
$medium: 768px;
$large: 992px;
$xlarge: 1200px;
$xxlarge: 1400px;
