@use 'variables';

body{
    background-color: variables.$color3;
    font-family: variables.$font1;
    font-optical-sizing: auto;
    font-weight: 300;
    color: variables.$color2;
    font-size: 24px;
    position: relative;

    @media ( max-width: variables.$medium ) {
        font-size: 18px;
    } 

    @media ( min-width: variables.$medium ) {
        padding-right: 1.4rem;
        padding-left: 1.4rem;
    } 

    &.active{
        overflow: hidden;
    }
}

.colored-slice{
    background-color: variables.$color1;
    z-index: 1;
    height: 0;
    top: 0;
    width: 100%;
    transition: all 0.3s ease-in-out;

    @media ( max-width: variables.$medium ) {
        position: fixed;

        &.active{
            height: 100vh;
            transition: all 0.3s ease-in-out;
            transition-delay: 200ms;
        }
    }
}

p{
    @media ( max-width:variables.$medium ) {
        font-size: 18px;
    } 
    

    &.small-text{
        font-size: 16px;
        @media ( max-width: variables.$medium ) {
            font-size: 12px;
        }    
    }

    &.big-text{
        font-size: 32px;
        margin-top: 12px;
        margin-bottom: 0;
        @media ( max-width: variables.$medium ) {
            font-size: 24px;
        }   
    }
}

a{
    text-decoration: none;
    color: variables.$color4;
    font-weight: 400;
    font-size: 24px;

    @media ( max-width: variables.$medium ) {
        font-size: 20px;
    }
}

h1,
h2,
h3,
h4{
    font-weight: 300;

    span{
        letter-spacing: normal;
        // font-weight: 400;
    }
}

h1{
    font-size: 48px;
    margin-bottom: 0;

    @media ( max-width: variables.$medium ) {
        font-size: 32px;
    }
    
}

h2{
    font-size: 36px;
    @media ( max-width: variables.$medium ) {
        font-size: 28px;
    }
}

h3{
    font-size: 32px;
    @media ( max-width: variables.$medium ) {
        font-size: 28px;
    }
}

h4{
    font-size: 28px;
    @media ( max-width: variables.$medium ) {
        font-size: 24px;
    }
}

.header-ao{
    margin-top: 40px;
    padding: 8px 0;
    position: sticky;
    top: 0;
    background-color: variables.$color3;
    z-index: 1;

    .my-wrap{
        @media ( max-width: variables.$medium ) {
            display: flex;
            justify-content: space-between;
        }
    }

    .menu-action-mobile{
        z-index: 2;
        @media ( min-width: variables.$medium ) {
            display: none;
        }
    }

    .wrap-nav{
        display: flex;
        list-style: none;
        padding: 0;
        margin: 0;
        gap: 40px;
        

        @media ( max-width: variables.$medium ) {
            position: fixed;
            bottom: 10vh;
            flex-direction: column;
            left: 3vw;
            right: 3vw;
            z-index: -2;
            gap: 20px;
            opacity: 0;
            transform: translateY(14px);
            transition: all 0.3s ease-out;

            &.active{
                z-index: 2;
                opacity: 1;
                transform: translateY(-14px);
                transition: all 0.6s ease-out;
                transition-delay: 400ms;                
            }
        }    

        a{
            text-decoration: none;
            color: variables.$color2;
            font-weight: 300;
            text-transform: uppercase;
            font-size: 20px;
            letter-spacing: .1rem;
            display: block;
            text-decoration: none;
            border-radius: 4px;
            @media ( max-width: variables.$medium ) {
                font-size: 36px;
                text-align: right;
            } 
            @media ( min-width: variables.$medium ) {
                &:hover{
                    color: variables.$color4;
                }

                &:active{
                    color: variables.$color1;
                    border-color: transparent;
                }
            }
        }
    }
}

.footer-ao{
    padding-top: 40px;
    padding-bottom: 80px;

    @media ( max-width: variables.$medium ) {
        padding-left: 0;
        padding-right: 0;
        gap: 60px;
    }    

    ul{
        padding: 0;
        margin: 12px 0 0 0;
        list-style: none;
        display: flex;
        gap: 20px;

        a{
            color: variables.$color2;

            &:hover{
                color: variables.$color4;
            }
        }
    }
}

.mx-100{
    margin-top: 140px;
    margin-bottom: 100px;

    @media ( min-width: variables.$medium ){

    }
}

.mt-40{
    margin-top: 40px;

}

.mt-20{
    margin-top: 20px;
}

.wrap-content{
    padding: 60px;
    border: 1px solid variables.$color7;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @media ( max-width: variables.$medium ) {
        border: none;
        border-top: 1px solid variables.$color7;
        padding: 60px 0;

        &.not-border-mobile{
            border: none;
        }
    }

    img{
        width: 100%;
    }
}

.no-spacing{
    padding: 0;
    
    @media ( max-width: variables.$medium ) {
        padding: 0 12px;
    }
}

svg{
    height: auto;
}

.border-bottom-mobile{
    @media ( max-width: variables.$medium ) {
        border-bottom: 1px solid #EAD8B0;
    }
}

.border-top-mobile{
    @media ( max-width: variables.$medium ) {
        border-top: 1px solid #EAD8B0;
    }
}

.wrap-contact{
    margin-bottom: 6rem;
}

.wrap-project{
    padding: 0 0 140px 0;
}

.project-item{
    color: variables.$color2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;

    svg{
        margin-top: 40px;
    }

    h2{
        font-family: variables.$font1;
        font-style: normal;
        margin-top: 40px;
        margin-bottom: 40px;
        font-weight: 400;
        @media ( max-width: variables.$medium ) {
            margin-bottom: 24px;
        }
    }

    &:hover{
        h2{
            color: variables.$color4;
        }
    }

    ul{
        padding: 0;
        margin: 0;
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        gap: 12px 24px;


        @media ( max-width: variables.$medium ) {
            gap: 8px 24px;
        }
    }
}

.wrap-predinhos{
    background-color: variables.$color1;
    display: flex;
    align-items: end;
    padding-top: 100px;

    height: 100%;

    svg{
        width: 100%;
    }
}

.breadcrumb{
    grid-column-gap: 8px;
    grid-row-gap: 8px;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 8px;
    display: flex;
}

.andre-oliveira{
    @media ( max-width: variables.$medium ) {
        margin-top: 1.5rem;
    }
}

.my-wrap{
    display: grid;
    gap: 1rem;

    @media ( min-width: variables.$medium ) {
        grid-template-columns: repeat(3,1fr);
        gap: 1.2rem; 

        .offset{
            grid-column:span 2; /* take 2 columns */
            width: calc((100% - 1.2rem)/2); /* take the width of one column */
            margin-left: auto; /* get placed at the second column */
        }

        .span-2{
            grid-column:span 2; /* take 2 columns */
        }
    }
}

.content-separation-top{
    margin-top: 6rem;
}

.btn-ao{
    font-size: 26px;
    color: variables.$color4;
    border: 1px solid variables.$color4;
    padding: 24px;
    border-radius: 100px;
    line-height: 1;
    margin-top: 24px;

    &:hover{
        background-color: variables.$color1;
        color: variables.$color4;
    }
}