@use 'variables';

body{
    background-color: variables.$color3;
    font-family: variables.$font1;
    font-optical-sizing: auto;
    font-weight: 300;
    color: variables.$color6;
    font-size: 16px;
    position: relative;
    line-height: 1.4;

    @media ( min-width: 1500px ) {
        font-size: 20px;
    }

    &.active{
        overflow: hidden;
    }
}

p{ 

    @media ( max-width:variables.$medium ) {
        font-size: 16px;
    }

    a{
        color: variables.$color6;
    }
}

a{
    color: variables.$color4;
    font-weight: 400;
    text-decoration: none;
}

h1{
    font-size: 5.6vw;
    font-weight: 500;
    margin-bottom: 0;
    letter-spacing: -.02em;

    @media ( max-width: variables.$medium ) {
        font-size: 48px;
    }   
}

h2{
    font-size: 4.5vw;
    margin-bottom: 80px;
    line-height: 100%;
    font-weight: 500;

    @media ( max-width: variables.$medium ) {
        font-size: 32px;
    }
}

.header-ao{
    margin-top: 40px;
    padding: 8px 0;
    top: 0;
    @media ( min-width: variables.$medium ) {
        position: sticky;
        background-color: variables.$color3;
        z-index: 1;
    }

    &.active{
        background-color: transparent;
    }

    .my-wrap{
        @media ( max-width: variables.$medium ) {
            display: flex;
            justify-content: space-between;
        }
    }

    .menu-action-mobile{
        z-index: 2;
        @media ( min-width: variables.$medium ) {
            display: none;
        }
    }

    .wrap-nav{
        display: flex;
        list-style: none;
        padding: 0;
        margin: 0;
        gap: 40px;
        

        @media ( max-width: variables.$medium ) {
            position: fixed;
            bottom: 10vh;
            flex-direction: column;
            left: 3vw;
            right: 3vw;
            z-index: -2;
            gap: 20px;
            opacity: 0;
            transform: translateY(14px);
            transition: all 0.3s ease-out;

            &.active{
                z-index: 2;
                opacity: 1;
                transform: translateY(-14px);
                transition: all 0.6s ease-out;
                transition-delay: 400ms;                
            }
        }    

        a{
            text-decoration: none;
            color: variables.$color2;
            font-weight: 300;
            text-transform: uppercase;
            font-size: 20px;
            letter-spacing: .1rem;
            display: block;
            text-decoration: none;
            border-radius: 4px;
            @media ( max-width: variables.$medium ) {
                font-size: 28px;
                text-align: right;
            } 
            @media ( min-width: variables.$medium ) {
                &:hover{
                    color: variables.$color4;
                }

                &:active{
                    color: variables.$color1;
                    border-color: transparent;
                }
            }
        }
    }
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 colunas */
    grid-auto-rows: minmax(43vh, auto); /* Altura mínima das linhas */
    gap: 24px; /* Espaçamento entre os itens */
    width: 100%;
    padding-left: 24px;
    padding-right: 24px;
    margin: auto;
    margin-bottom: 24px;

    @media ( max-width: variables.$medium ) {
        grid-template-columns: repeat(2, 1fr); /* 4 colunas */
        grid-auto-rows: minmax(22vh, auto); /* Altura mínima das linhas */
        padding-left: 12px;
        padding-right: 12px;
        gap: 12px; /* Espaçamento entre os itens */
    } 
}

.item{
    background-color: variables.$color3;
    transition: background-color 1.2s ease-in-out;
    justify-content: space-between;
    display: flex;
    flex-direction: column;

    &:hover{
        background-color: variables.$color1;
        transition: background-color 0.1s ease-in-out;
    }

    a,
    p{
        margin-bottom: 0;

        @media ( min-width: variables.$medium ) {
            padding: 2px 4px;
        }
    }

    &.linkedin{
        &:hover{
            background-color: #0b66c2 !important;

            a{
                color: variables.$color5 ;
            }
        }
    }

    &.instagram{
        &:hover{
            background: #833ab4;
            background: linear-gradient(
                to right,
                #833ab4,#fd1d1d,#fcb045
            );

            a{
                color: variables.$color5 ;
            }
        }
    }

    &.dribbble{
        &:hover{
            background-color: #ea4c89;

            a{
                color: variables.$color5 ;
            }
        }
    }

    &.curriculo{
        &:hover{
            background-color: variables.$color6;
            
            a{
                color: variables.$color5 ;
            }
        }
    }

    img{
        filter: sepia(0%);
        transition: filter 0.8s ease-in-out;

        &:hover{
            filter: sepia(100%);
            transition: filter 0.1s ease-in-out;
        }        
    }

    a{
        display: block;
        height: 100%;
    }

    p{
        a{
            display: inline;
            text-decoration: underline;
        }
    }
}

.item-project{
    text-decoration: none;
    display: block;
    margin-bottom: 100px;

    img{
        width: 100%;
    }

    h3{
        font-size: 32px;
        color: variables.$color6;
        margin-top: 12px;

        @media ( max-width: variables.$medium ) {
            font-size: 24px;
        }
    }
}

.full-row {
    grid-column: 1 / -1; /* Ocupa todas as 4 colunas (pula uma linha inteira) */
    position: relative;
    background-color: transparent;

    @media (min-width: variables.$xlarge) {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    h1{
        pointer-events: none;
        position: relative;
        z-index: 1;
        @media (max-width: variables.$medium ) {
            position: absolute;
        }
    }
    
    .grid-container {
        z-index: 0; /* Mantém o grid atrás do conteúdo */
        padding: 0;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        position: absolute;

        @media (max-width: variables.$medium ) {
            position: relative; /* Fixa o fundo na tela */

            .item{
                &:nth-child(3),
                &:nth-child(4){
                    display: none;
                }
            }
        }
    }
}

#about,
#contact,
#projects{
    padding-top: 80px;
    @media (min-width: variables.$large ) {
        padding-top: 160px;
    }
}


#about{

    @media (max-width: variables.$large ) {
        .item{
            &:nth-child(1){
                grid-column: span 2;
            }
            
            &:nth-child(2){
                grid-column: span 2;
            }

            &:nth-child(3){
                grid-column: span 2;
            }

            &:nth-child(4){
                grid-column: span 2;
            }
        }
    }
}

#contact{

    @media (max-width: variables.$large ) {
        .item{
            &:nth-child(1){
                grid-column: span 2;
            }

            &:nth-child(2){
                grid-column: span 2;
            }
        }
    }
}

section{
    @media (min-width: variables.$large ) {
        min-height: 100vh;
    }
}